#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 100;
    background: white;
    border: darkred solid 1px;
}

#logoBox {
    display: flex;
    width: 25%;
}

#logo {
    max-height: 4em;
}

#contentBox {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

#body {
    position: relative;
    top: 10vh;
    width: 100%;
    height: 300em;
    overflow: hidden;
}