#header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 100;
    background: white;
    border-bottom: darkred solid 1px;
    padding-bottom: 0.5em;
    box-shadow: 3px 2px 3px #5a0000;
}

#logoBox {
    display: flex;
    width: 25%;
}

#logo {
    max-height: 4.5em;
}

#contentBox {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

#body {
    position: relative;
    top: 4.25em;
    width: 100%;
    height: 87vh;
    overflow: hidden;
}


/**
    Navbar dropdown menus
 */
ul {
    display: none;
    list-style-type: none;
    padding: 5px;
    background: #fff;
    position: absolute;
    z-index: 999;
    top: 2.5em;
    text-align: left;
    font-family: brother-1816, sans-serif;
    font-weight: 600;
}

div div:hover ul {
    display: block;
    color: black;
}

div div:hover {
    color: darkred;
}

div div:hover div h1.arrow {
    background-color: darkred;
    color: white;
}

.clickable:hover {
    color: darkred;
    cursor: pointer;
}

h1 {
    font-family: brother-1816, sans-serif;
    font-weight: 800;
}